/*
-----------------------------------------
              GENERAL
-----------------------------------------
*/
body {
  background-color: rgb(46, 40, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/*
-----------------------------------------
              SECTIONS
-----------------------------------------
*/
section {
  background: black;
  padding: 10px 10px;
}

.section1 {
  background: white;
  color: black;
}

/*
-----------------------------------------
              FOOTER CSS
-----------------------------------------
*/
footer {
  background: rgb(45, 41, 41);
  display: flex;
  flex-wrap: wrap;
  padding: 2px 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footerImages {
  height: 20px;
  margin: 0px 10px
}

.footerLink {
  color: white;
}

.followMeText {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 10px 0;
}

/*
-----------------------------------------
              LOGO
-----------------------------------------
*/
.logo {
  background-image: url("/Images/Logo.png");
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-between;
  /*transition: height 0.3s ease-in-out;*/
}

/* media queries example for future use
@media screen and (max-width: 625px) {
  .logo {
    height: 300px;
  }
}

/*
-----------------------------------------
              HEADING 
-----------------------------------------
*/

.headingSection {
  background-color: rgb(45, 41, 41);
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
  justify-content: center;
  padding: 10px;
  text-align: center; 
}

.hyperLinkUnderline {
  color: white;
  text-underline-offset: 6px;
}

/*
-----------------------------------------
              CONTACT FORM CSS
-----------------------------------------
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contactPageSection {
  font-family: 'Outfit'; 
  background: white;
  color: black;
}

.contactContainer {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contactLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contactLeftTitle h2{
  font-weight: 600;
  color: rgb(71, 60, 60);
  font-size: 40px;
  margin-bottom: 5px;
}

.contactLeftTitle hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: rgb(71, 60, 60);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contactInputs {
  background-color: grey;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contactLeft textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contactInputs:focus {
  border: 2px solid black;
} 

.contactInputs::placeholder {
  color: #ffffff;
}

.contactLeft button {
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: grey;
  cursor: pointer;
}

.contactLeft button img {
  height: 15px;
}

.contactRight img {
  width: 550px;
  height: 100%;
  transition: width 0.45s ease-out;
}



@media screen and (max-width: 986px) {
  .contactContainer {
    height: 1000px;
  }
}

@media screen and (max-width: 570px) {
  .contactRight img {
    width: 300px;
    display: none;
  }
  .contactInputs {
    width: 300px;
  }
  .contactContainer {
    height: 500px;
  }
}