/*
-----------------------------------------
              GENERAL
-----------------------------------------
*/
body {
  background-color: #2e2828;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  color: #2980b9; /* Dark Blue on hover */
  text-decoration: underline;
}

/*
-----------------------------------------
              SECTIONS
-----------------------------------------
*/
section {
  background: #2e2828; /* Dark Gray background for sections */
}

.section1 {
  background: #ffffff; /* White for specific sections */
  color: #2e2828; /* Dark Gray text for contrast */
}


/*section for credits to assets */
.attributionSection {
  background: #ffffff; /* White for specific sections */
  color: #2e2828; /* Dark Gray text for contrast */
}

.attributionSection a {
  color: #2e2828;
}

.attributionSection a:hover {
  color: #2980b9; /* Dark Blue on hover */
  text-decoration: underline;
}
/*
-----------------------------------------
              FOOTER CSS
-----------------------------------------
*/
footer {
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 2px 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footerImages {
  height: 20px;
  margin: 0px 10px
}

.footerLink {
  color: white;
}

.followMeText {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 10px 0;
}

/*
-----------------------------------------
              LOGO
-----------------------------------------
*/

.logoContainer {
  background-color: #2e2828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("/Images/Logo.png");
  background-size: 100%;
  background-position: center;
  height: 550px;
  width: 50%;
}

/*
-----------------------------------------
              HEADING 
-----------------------------------------
*/

.headingSection {
  background-color: #000000; 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20%;
}

.headingSection ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.headingSection li {
  list-style: none;
}

.headingSection a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media screen and (max-width: 768px) {
  .headingSection {
    padding: 15px 10%;
    justify-content: center;
  }

  .headingSection ul {
    justify-content: center;
  }

  .headingSection a {
    font-size: 16px;
  }
}
/*
-----------------------------------------
              CONTACT FORM CSS
-----------------------------------------
*/

.contactPageSection {
  font-family: 'Outfit'; 
  background: white;
  color: #2e2828;
}

.contactContainer {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contactLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contactLeftTitle h2{
  font-weight: 600;
  color: rgb(71, 60, 60);
  font-size: 40px;
  margin-bottom: 5px;
}

.contactLeftTitle hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: rgb(71, 60, 60);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contactInputs {
  background-color: #808080;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 50px;
}

.contactLeft textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contactInputs:focus {
  border: 2px solid black;
} 

.contactInputs::placeholder {
  color: #ffffff;
}

.contactLeft button {
  background: grey;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.contactLeft button:hover {
  background: #2980b9;
}

.contactLeft button img {
  height: 15px;
}

.contactRight img {
  width: 550px;
  height: 100%;
  transition: width 0.45s ease-out;
}



@media screen and (max-width: 986px) {
  .contactContainer {
    height: 1000px;
  }
}

@media screen and (max-width: 570px) {
  .contactRight img {
    width: 300px;
    display: none;
  }
  .contactInputs {
    width: 300px;
  }
  .contactContainer {
    height: 500px;
  }
}

/* -----------------------------------------
              ABOUT ME CSS
----------------------------------------- */
.AboutMeSection {
  background: white;
  color: #2e2828;
  padding: 50px 10%;
  max-width: 12000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.AboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  min-height: auto;
}

.AboutMeLeftSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.AboutMeLeftSide img {
  width: 100%;
  max-height: 60%;
  min-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.AboutMeRightSide {
  flex: 1.5;
  max-width: 900px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.AboutMeRightSide p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

@media screen and (max-width: 1300px) {
  .AboutMeLeftSide img {
    max-height: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .AboutMeContainer {
    flex-direction: column;
    text-align: center;
    max-width: 90%;
  }

  .AboutMeRightSide {
    max-width: 100%;
  }
}

.AboutMeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutMeTitle h2 {
  font-weight: 600;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
}

.AboutMeTitle hr {
  border: none;
  width: 220px;
  height: 5px;
  background-color: #2e2828;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* -----------------------------------------
              HOME PAGE CSS
----------------------------------------- */
.hero {
  background-color: rgb(45, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1550px;
}

.heroContent {
  align-items: center;
  background-image: url("/Images/HeroSectionImage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.heroContent a{
  color: white;
}
